name: Unit Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      pubsub:
        image: knarz/pubsub-emulator
        ports:
          - 8085/tcp
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Lint with flake8
      run: |
        pip install -q flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Install dependencies
      run: |
        python -m pip install -q --upgrade pip
        pip install -r requirements.txt
    - name: Run pytest
      env:
        PUBSUB_EMULATOR_HOST: 127.0.0.1:${{ job.services.pubsub.ports['8085'] }}
        PUBSUB_PROJECT_ID: square-webhook-123456
        GCP_PROJECT: square-webhook-123456
      run: |
        pip install -q pytest
        pytest
